dist/index.html
dist/src.*.js
dist/src.*.css
dist/src.*.map
.cache

.DS_Store

node_modules
dist
.cache

bin
obj
packages
tools
publish

.paket
.settings
.classpath
.project
.working
.publish
.vscode

wwwroot

target
BenchmarkDotNet.Artifacts